 html,body{
    padding:0;
    margin:0;
 }
 .navbar{
    background-color: rgb(184, 82, 199);
    padding:12px 14px;
 }
 .navbar a{
    margin-right : 4px;
 }
 .navbar a:hover{
    background-color:azure;
    padding: 12px 14px;
 }
 header{
    min-height:50vh;
    display:flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    background-color:rgb(190, 163, 215);
 }
 .about{
    margin-top:50px;
 }
 .about h2{
    text-align: center;
 }
 .about .content{
    display:flex;
 }
 .about img{
    max-width:350px;
    margin-left:20px;
 }
 .about p{
    margin-left: 10px;
    font-size:16px;
 }
 .about button{
   margin-left:10px;
   background-color:rgb(48, 6, 48);
   color:aliceblue;
 }
 .service h1{
   text-align: center;
 }
 .card{
   padding: 30px 50px;
   background-color:rgb(190, 163, 215);
   margin:50px;
   text-align: center;
 }
 .container{
   display:flex;
   text-align: center;
 }
 .project h1{
   text-align:center;
 }
 .project .card{
      padding: 30px 40px;
      background-color:rgb(190, 163, 215);
      margin:50px;
 }
 .contact h1{
   text-align: center;
 }
 .input{
   margin: 0px 30px;
   padding:20px;
   margin-bottom: 10px;
   text-align: center;
 }
